# Sumpy thus far is poorly parallelized (no workgroup-level parallelism), and
# the Kepler has a tendency to hang as a result.
#
# Python 3.5 K40:
#   script:
#   - export PY_EXE=python3.5
#   - export PYOPENCL_TEST=nvi:k40
#   - export EXTRA_INSTALL="numpy mako"
#   - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
#   - ". ./build-and-test-py-project.sh"
#   tags:
#   - python3.5
#   - nvidia-k40
#   except:
#   - tags
#  artifacts:
#    reports:
#      junit: test/pytest.xml

stages:
  - test
  - deploy

Pytest POCL:
  stage: test
  script:
  - export PY_EXE=python3
  - export PYOPENCL_TEST=portable:pthread
  - export EXTRA_INSTALL="pybind11 numpy mako"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - pocl
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Pytest Titan V:
  stage: test
  script:
  - py_version=3
  - export PYOPENCL_TEST=nvi:titan
  - EXTRA_INSTALL="pybind11 numpy mako"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project.sh
  - ". ./build-and-test-py-project.sh"
  tags:
  - python3
  - nvidia-titan-v
  except:
  - tags
  allow_failure: True
  artifacts:
    reports:
      junit: test/pytest.xml

Pytest Conda:
  stage: test
  script:
  # Disable caching to ensure SymEngine code generation is exercised.
  - export SUMPY_NO_CACHE=1
  - export SUMPY_FORCE_SYMBOLIC_BACKEND=symengine
  - export PYOPENCL_TEST=portable:pthread
  - CONDA_ENVIRONMENT=.test-conda-env-py3.yml
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project-within-miniconda.sh
  - ". ./build-and-test-py-project-within-miniconda.sh"
  tags:
  - large-node
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Pytest POCL Titan V:
  stage: test
  script:
  # Disable caching to ensure SymEngine code generation is exercised.
  - export SUMPY_NO_CACHE=1
  - export SUMPY_FORCE_SYMBOLIC_BACKEND=symengine
  - export PYOPENCL_TEST=portable:titan
  - CONDA_ENVIRONMENT=.test-conda-env-py3.yml
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-test-py-project-within-miniconda.sh
  - ". ./build-and-test-py-project-within-miniconda.sh"
  tags:
  - nvidia-titan-v
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Examples Conda:
  stage: test
  script: |
    grep -v symengine .test-conda-env-py3.yml > .test-conda-env.yml
    CONDA_ENVIRONMENT=.test-conda-env.yml
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/ci-support.sh
    . ci-support.sh
    EXTRA_INSTALL="pyvisfile scipy"
    build_py_project_in_conda_env
    run_examples
  tags:
  - large-node
  except:
  - tags

Documentation:
  stage: deploy
  script: |
    EXTRA_INSTALL="pybind11 numpy mako"
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/ci-support.sh
    . ci-support.sh
    build_py_project_in_venv
    pushd $PWD
    build_docs
    popd
    if [[ -d ~/.scicomp-benchmarks/asv/$PROJECT ]]; then
      cp -rf ~/.scicomp-benchmarks/asv/$PROJECT docs/_build/html/benchmarks
    fi
    maybe_upload_docs

  tags:
  - linux
  - benchmark

Flake8:
  stage: test
  script:
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/prepare-and-run-flake8.sh
  - . ./prepare-and-run-flake8.sh "$CI_PROJECT_NAME" test examples benchmarks
  tags:
  - python3
  except:
  - tags

Benchmarks:
  stage: test
  script:
  - CONDA_ENVIRONMENT=.test-conda-env-py3.yml
  - PROJECT=sumpy
  - PYOPENCL_TEST=portable:pthread
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/main/build-and-benchmark-py-project.sh
  - ". ./build-and-benchmark-py-project.sh"
  tags:
  - linux
  - benchmark
  except:
  - tags
