include doc/*.rst
include doc/Makefile

include notes/*.tex
include notes/*.pdf
include notes/latexmkrc
include notes/media/*.ipe
include notes/media/*.eps

include LICENSE
include README.rst

prune .github
exclude .gitlab-ci.yml
exclude .gitignore
