numpy
sympy==1.0
git+https://github.com/inducer/pymbolic
git+https://github.com/inducer/islpy
git+https://github.com/inducer/pyopencl
git+https://gitlab.tiker.net/inducer/boxtree
git+https://gitlab.tiker.net/inducer/loopy@ignore-boostable-for-real
git+https://github.com/inducer/pyfmmlib
